# Copyright 2026 上海如静知华信息科技有限公司 · https://www.zhuatech.cn/
ZHUATECH_DIGITAL_HUMAN_PROVIDER=local
ZHUATECH_DIGITAL_HUMAN_BASE_URL=
ZHUATECH_DIGITAL_HUMAN_MODEL=digital-human-provider-model
ZHUATECH_DIGITAL_HUMAN_API_KEY=
